* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header, footer {
  height: 150px;
  background: black;
}

header h1 {
  color: white;
  text-align: center;
  padding: 50px 0;
  text-transform: uppercase;
  font-weight: bold;
}

.general {
  height: calc(100vh - 300px);
}

.general #two {
  padding-top: 100px;
}

.general #two span  {
  margin-left: 50px;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
  display: block;
  margin-top: 30px;
}

.general #two p  {
  margin-left: 50px;
  font-weight: bold;
  font-size: 20pt;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 30px;
}
